.navbarCustom {
    background-color: #e8f1f2a9;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .75); */
    min-height: 8.5rem;
}



/* .navbarCustom h1 {
    font-size: x-large;
}

.navbarCustom h4 {
    font-size: large;
    margin-right: 2rem;
} */